<!DOCTYPE html>
<html lang="es">
<head>
    <title>Receta</title>
    <style>
        table {
            border-spacing: 0;
            border-collapse: collapse
        }

        td, th {
            padding: 0
        }

        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto
        }

        .h4, h4 {
            margin-top: 10px;
            margin-bottom: 10px
        }

        .table {
            width: 100%;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="table-responsive">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <table width="100%" border="1" cellpadding="5" cellspacing="5">
                        <tbody>
                            <tr>
                                <td colspan="3"><center><h3><b>CENTRO MEDICO M &amp; B</b></h3></center></td>
                            </tr>
                            <tr>
                                <td colspan="3"><center><h3><b>RECETA</b></h3></center></td>
                            </tr>
                            <tr>
                                <td colspan="3"><h4><b>APELLIDOS Y NOMBRES: </b> APENOM</h4></td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td colspan="3" style="background-color:#D8D8D8;"><center><h4>Detalle de Receta</h4></center></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="100%" border="1">
                                        <thead>
                                            <tr style="background-color:#D8D8D8;">
                                                <th>Medicamento</th>
                                                <th>Dosis</th>
                                                <th>Duración</th>
                                                <th>Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--><tr>
                                                <td>&nbsp;AMOXIDIN CL500</td>
                                                <td>&nbsp;CADA 8 HORAS</td>
                                                <td>&nbsp;3 DIAS</td>
                                                <td>&nbsp;9</td>
                                            </tr></!-->
                                            MEDICAMENTO
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>